*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
	/*background-image: url(../img/giphy.gif);*/

}

html{
	overflow-x: hidden;
}

.index-body {
	background-image: url(../img/w7.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
.home-body {
	background-image: url(../img/w6.jpg);
	/*background-image: url(../img/giphy.gif);*/
	background-color: #d6bfff;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.why-body {
	background-image: url(../img/w2.jpg);
	background-attachment: fixed;
	background-size: cover;
}

.contact-body {
	background-image: url(../img/w3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}


.tips-body {
	background-image: url(../img/w4.JPEG);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.reminders-body {
	background-image: url(../img/w5.JPEG);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}




.btn {
	background-color: none;
}

/*index*/

.box {
	height: 25vh;
	position: absolute;
	left: 50%;
	top: 45%;
	transform: translate(-50%, -50%);
}

.entrance {
	height: 100%;
	opacity:1;
}

.entrance:hover {
	opacity: 0.6;
	transition: 0.3s;
	transform: scale(1.5);

}

/*index end*/

/*home page*/

.navbar {
	font-family: 'Bubblegum Sans', cursive;
	/*font-family: 'Bungee Shade', cursive;*/
	font-size: 15px;
	letter-spacing: 2px;
	background-color: #fffbae;
	background-image: url(../img/giphy.gif);
	background-size: cover;
	text-align: center;
	z-index: 30;
	position: fixed;
	top: 0;
}

.nav-item:hover {
	opacity: 1;
	background-color: pink;
	border-radius: 10px;
	transform: scale(1.1);
}

.name-title {
	/*font-family: 'Bowlby One SC', sans serif;*/
	font-family: 'Bungee Shade', cursive;
	color: whitesmoke;
	background-color: pink;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	letter-spacing: 2px;
	text-align: center;
	border-bottom: 5px dashed white;
	border-top: 5px dashed white;
	padding-top: 5px;
	z-index: 20;
}

.name-title {
	font-family: 'Bungee Shade', cursive;

}

.navbar > li {
	border: 3px solid skyblue;
	background-color: #fffbae;
	border-radius: 10px;
	letter-spacing: 3px;
	margin: 0px 2px 0px 2px;
	padding: 5px;

}

.container-home {
	/*position: fixed;*/
	margin-bottom: 0;
	padding: 20%;
}

#carousel-home {
	height: 80vh;
}

#carousel-home img {
	height: 80vh;
	max-width: 100%;
	object-fit: contain;
}





/*why page*/

.card {
	margin: 15px;
	box-shadow: 8px 10px #bfbfbf;
	margin-bottom: 15px;
}

/*.container {*/
	/*height: 100vh;*/

}

.contact-footer {
	position: fixed;
	bottom: 0;
	right: 0;
	
}

section {
	margin-top: 15px;


}

#why {
	width: calc(100%/3);
	float: left;

}



.container-2 {
	height: 100vh;
}



/*end why page*/

/*start self care tips*/
.selfcare {
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 15px;
	border: 5px double white;
}

.accordion {
	box-shadow: 8px 10px #888888;
}

.card-purple {
	background-color: #e0d2ff;

}

.card-green {
	background-color: #d9ffd2;
}

.card-blue {
	background-color: #ffddbf;
}

.card-body > .skin{
	width: 250px;
	height: 250px;

}

.card-body > .daily {
	width: 400px;
	height: auto;
}

.card-body > .mental {
	width: 300px;
	height: 300px;
	object-fit: cover;
}

.card-body > h5, h3{
	font-family: 'Bangers', cursive;
	letter-spacing: 3px;
	color: #ff5a96;
}

.card-body > h2 {
	font-family: 'Bangers', cursive;
	letter-spacing: 2px;
	color: grey;
}

#habits > h2 {
	font-family: 'Bangers', cursive;
	letter-spacing: 2px;
	color: pink;
}

/*reminders page*/

.border-reminder {
	background-color: #d4b7ff;
	padding: 5px;
	margin: 5px;
}

.border-reminder2 {
	background-color: skyblue;
	padding: 5px;
	margin: 5px;
}

.border-reminder3 {
	background-color: pink;
	padding: 5px;
	margin: 5px;
}

.card-rem {
	margin: 15px;
}

.card-rem:hover {
	opacity: 0.6;
}

.gallery {
	margin: 15px;
}



/*contact page*/

.contact {
	background-color: skyblue;
	position: relative;
	margin-top: 5%;
	top: 25%;
	left: 50%;
	transform: translate(-50%, -10%);
	padding: 30px;
	font-family: "Times New Roman", Times, serif;
	width: 50%;
	border-radius: 5px;
	border: 4px dashed white;
	
}

#message-input {
	height: 100px;
}

/*footers*/

.contact-footer {
	font-family: 'Bubblegum Sans', cursive;
	background-color: #fffbae;
	position: fixed; 
	padding: 10px 10px 0px 10px; 
	bottom: 0px; 
	width: 100%; 
	/* Height of the footer*/  
	height: 5vh; 

}

.this-footer {
	position: relative;
	font-family: 'Bubblegum Sans', cursive;
	background-color: #fffbae;
	padding: 10px 10px 0px 10px; 
	bottom: 0px; 
	width: 100%; 
	/* Height of the footer*/  
	height: 5vh; 
}

.reminder-footer {
	position: relative;
	font-family: 'Bubblegum Sans', cursive;
	background-color: #fffbae;
	padding: 10px 10px 0px 10px; 
	bottom: 0px; 
	width: 100%; 
	/* Height of the footer*/  
	height: 5vh; 
}

.home-footer {
	position: relative;
	font-family: 'Bubblegum Sans', cursive;
	background-color: #fffbae;
	padding: 10px 10px 0px 10px; 
	bottom: 0px; 
	width: 100%; 
	/* Height of the footer*/  
	height: 5vh; 
}


.foot {
	width: 100%;
	position: absolute;
}

.fa {
	padding-left: 10px;
	/*margin-left:5px;*/
	color: #d073ff;
	z-index: 1000;
}

.socialfoot {
	z-index: 999;
}

/*end contact*/


/*RESPONSIVE DEVICES*/

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 400px){
	* {
		overflow-x: hidden;

	}


	#carouselhome, .carousel-inner > img {
		width: 100%;
	}
	.container {
		width: 100%;
	}
	.foot {
		width: 100%;
		height: auto;
		/*display: all;*/
	}

	.socialfoot {
		display: none;
	}

	#why {
		width: 100%;
	}
	.card-body > .daily {
		width: 100%;
	}
	.contact-footer {
		/*height: auto;*/
		bottom: 0;
		position: fixed;
	}

	.contact {
		margin-top: 15%;
		width: 80%;
	}

	.this-footer {
		position: relative;


	}

	.reminder-footer {
		position: relative;
	}

	.home-footer {
		position: relative;
	}

}


/*medium screens*/
@media only screen and (min-width: 401px ) and (max-width: 960px){
	* {
		overflow-x: hidden;
	}
	#carouselhome, .carousel-inner > img {

		width: 100%;
	}

	.container {
		width: 100%;
	}
	.foot {
		width: 100%;
		height: auto;
		/*display: all;*/
	}

	.socialfoot {
		display: none;
	}

	#why {
		width: 100%;
	}
	.card-body > .daily {
		width: 100%;
	}


	.contact-footer {
		/*height: auto;*/
		bottom: 0;
		position: fixed;
	}

	.contact {
		margin-top: 20%;
		width: 80%;
	}

	.this-footer {
		position: relative;

	}

	.reminder-footer {
		position: relative;
	}

	.home-footer {
		position: fixed;
	}

}


/*  .clearfix:after {
  	content: "";
  	display: table;
  	clear: both;
  }*/